fastapi==0.116.1
uvicorn==0.35.0
sqlalchemy==2.0.43

psycopg[binary]==3.2.9

pydantic==2.11.7

celery==5.5.3
redis==6.4.0

python-jose[cryptography]==3.5.0
passlib[bcrypt]==1.7.4

pytest==8.4.2
requests==2.32.5
python-multipart==0.0.20
httpx==0.28.1

stripe==12.5.1
dwollav2==2.3.0
plaid-python==36.0.0

pyotp==2.9.0